

body{
  background: #ffffff;
  /* min-height: 100vh; */
margin-right:0
  
}




/* @media screen and (max-width: 705px){
  .header {
    -webkit-background: red;
    -ms-background: row;
  background: white;
  }

} */

